<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="courses.css">
</head>


<body>
    
    <div class="main">
        <h1>Courses</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.publicdomainpictures.net%2Fpictures%2F140000%2Fnahled%2Ftranslation.jpg&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">German Beginner</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.rawpixel.com%2Fs3fs-private%2Frawpixel_images%2Fwebsite_content%2Fv211-bb-16-kids_2.jpg%3Fw%3D400%26dpr%3D1%26fit%3Ddefault%26crop%3Ddefault%26auto%3Dformat%26fm%3Dpjpg%26q%3D75%26vib%3D3%26con%3D3%26usm%3D15%26bg%3DF4F4F3%26ixlib%3Djs-1.1.1%26s%3D97a7d26c4530f023d7a4d3530df59ed2&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">Mathematics Beginner 1</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.rawpixel.com%2Fs3fs-private%2Frawpixel_images%2Fwebsite_content%2Fv211-bb-16-kids_2.jpg%3Fw%3D400%26dpr%3D1%26fit%3Ddefault%26crop%3Ddefault%26auto%3Dformat%26fm%3Dpjpg%26q%3D75%26vib%3D3%26con%3D3%26usm%3D15%26bg%3DF4F4F3%26ixlib%3Djs-1.1.1%26s%3D97a7d26c4530f023d7a4d3530df59ed2&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">Mathematics Beginner 2</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.rawpixel.com%2Fs3fs-private%2Frawpixel_images%2Fwebsite_content%2Fv211-bb-16-kids_2.jpg%3Fw%3D400%26dpr%3D1%26fit%3Ddefault%26crop%3Ddefault%26auto%3Dformat%26fm%3Dpjpg%26q%3D75%26vib%3D3%26con%3D3%26usm%3D15%26bg%3DF4F4F3%26ixlib%3Djs-1.1.1%26s%3D97a7d26c4530f023d7a4d3530df59ed2&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">Mathematics Beginner 3</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.rawpixel.com%2Fs3fs-private%2Frawpixel_images%2Fwebsite_content%2Fv211-bb-16-kids_2.jpg%3Fw%3D400%26dpr%3D1%26fit%3Ddefault%26crop%3Ddefault%26auto%3Dformat%26fm%3Dpjpg%26q%3D75%26vib%3D3%26con%3D3%26usm%3D15%26bg%3DF4F4F3%26ixlib%3Djs-1.1.1%26s%3D97a7d26c4530f023d7a4d3530df59ed2&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">Mathematics Beginner 4</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.rawpixel.com%2Fs3fs-private%2Frawpixel_images%2Fwebsite_content%2Fv211-bb-16-kids_2.jpg%3Fw%3D400%26dpr%3D1%26fit%3Ddefault%26crop%3Ddefault%26auto%3Dformat%26fm%3Dpjpg%26q%3D75%26vib%3D3%26con%3D3%26usm%3D15%26bg%3DF4F4F3%26ixlib%3Djs-1.1.1%26s%3D97a7d26c4530f023d7a4d3530df59ed2&f=1&nofb=1"></div>
              <div class="card_content">
                <h2 class="card_title">Mathematics Beginner 5</h2>
                <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
        </ul>
        <ul class="cards">
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sAl4aBbL4eV8mA2ZTehB-QHaE8%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Novice 1</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sAl4aBbL4eV8mA2ZTehB-QHaE8%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Novice 2</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sAl4aBbL4eV8mA2ZTehB-QHaE8%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Novice 3</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sAl4aBbL4eV8mA2ZTehB-QHaE8%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Novice 4</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.sAl4aBbL4eV8mA2ZTehB-QHaE8%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Novice 5</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fmath-teacher-picture-id510221128&f=1&nofb=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Expert 1</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="cards">
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fmath-teacher-picture-id510221128&f=1&nofb=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Expert 2</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fmath-teacher-picture-id510221128&f=1&nofb=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Expert 3</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fmath-teacher-picture-id510221128&f=1&nofb=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Expert 4</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fmath-teacher-picture-id510221128&f=1&nofb=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Mathematics Expert 5</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.kiRoTZaaLdRS_btTI-27MAHaFj%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Turkish Level 1</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.kiRoTZaaLdRS_btTI-27MAHaFj%26pid%3DApi&f=1"></div>
                <div class="card_content">
                  <h2 class="card_title">Turkish Level 2</h2>
                  <p class="card_text">Explore this course for free brought  to you by cambridge education for all</p>
                  <button class="btn card_btn">Read More</button>
                </div>
              </div>
            </li>
          </ul>
    </div> 
</body>