<body>
    <div class="login-header">
        <h1>WEBSITE NAME</h1>
    </div>
    <br>
    
    <div>
        <div class="content-section desktopView" style="margin-left: 300px; margin-right: 300px;">
            <form method="POST">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log in to your account</legend>
                    
                    <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                        Username<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                        Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password"> </div> </div>

                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            </div>
        </div>
        
