{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="main.css">
<section class="login">
    <div class="login_box">
        <div class="left">
            <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
            <div class="contact">


                <form method="POST" action="/login">
                    <h3>SIGN IN</h3>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                        </div>
                    </div>


                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Your Password">
                        </div>
                    </div>

                    <button class="submit">LET'S GO</button>
                </form>


            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <h2>Website Name</h2>
                <h5>Everyone deserves an Equal Opportunity to Learn</h5>
            </div>
        </div>
    </div>
</section>

{% endblock %}