<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="language-picker js-language-picker">
        <form action="" class="language-picker__form">
          <label for="language-picker-select">Select your language</label>
      
          <select name="language-picker-select" id="language-picker-select">
            <option>Deutsch</option>
            <option>English</option>
            <option>Français</option>
            <option>Italiano</option>
            <!-- other language options -->
          </select>
        </form>
      </div>

</body>


</html>

