<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
        #container {
            width: 80%;
            float: right;
            margin-right: 50px;
        }
    </style>
    <link rel="stylesheet" href="uni.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>


<body>
    <div>
        <div style="display: inline-block;">
            <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
                <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
                <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
                    <img
                        class="rounded-pill img-fluid"
                        width="55"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fbusiness-and-finance-related-hand-gestures%2F256%2Fface_female_blank_user_avatar_mannequin-512.png&f=1&nofb=1"
                        alt="">
                    <div class="ms-2">
                    <h5 class="fs-6 mb-0">
                        <a class="text-decoration-none" href="#">Jane Doe</a>
                    </h5>
                    <p class="mt-1 mb-0"></p>
                    </div>
                </div>
                
                <div class="search position-relative text-center px-4 py-3 mt-2">
                    <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
                    <i class="fa fa-search position-absolute d-block fs-6"></i>
                </div>
                
                <ul class="categories list-unstyled">
                    <li class="has-dropdown">
                    <i class="uil-estate fa-fw"></i><a href="#"><b style="color: crimson;"> Dashboard</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="">
                    <i class="uil-folder"></i><a href="#"><b style="color: orange;"> Projects</b></a>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-calendar-alt"></i><a href="#"><b style="color: yellow;"> Calendar</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-envelope-download fa-fw"></i><a href="#"><b style="color: lime;"> Mailbox</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-shopping-cart-alt"></i><a href="#"><b style="color: turquoise;"> Classrooms</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-bag"></i><a href="#"><b style="color: blue;"> Practice</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="">
                    <i class="uil-setting"></i><a href="#"><b style="color: purple;"> Settings</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-chart-pie-alt"></i><a href="#"><b style="color: violet;"> Past Papers</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-panel-add"></i><a href="#"><b style="color: gold;"> Assignments</b></a>
                    <ul class="sidebar-dropdown list-unstyled">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">ipsum dolor</a></li>
                        <li><a href="#">dolor ipsum</a></li>
                        <li><a href="#">amet consectetur</a></li>
                        <li><a href="#">ipsum dolor sit</a></li>
                    </ul>
                    </li>
                    <li class="has-dropdown">
                    <i class="uil-language-selection"></i><a href="#"><b style="color: skyblue;"> Language Menu</b></a>
                        <select name="language-picker-select" id="language-picker-select">
                        <option>Deutsch</option>
                        <option>English</option>
                        <option>Français</option>
                        <option>Italiano</option>
                        <option>普通话</option>
                        <option>日本語</option>
                        <option>한국어</option>
                        <option>Bahasa Melayu</option>
                        <!-- other language options -->
                        </select>
                    <li class="">
                    <i class="uil-map-marker"></i><a href="#"><b style="color: red;">Help Line</b></a>
                    </li>
                </ul>
                </aside>
        </div>
    


        <div id="container" style="display: inline-block;">

            <h1 style="text-align: center;">Our Vision: Open University</h1>
            <p>Our vision is to form a completely free university which is open to people all over the world from different cultural backgrounds, and allow education to be accessible to anyone from whatever educational level.</p>
            <img width="1024"src="https://lh3.googleusercontent.com/proxy/2lsMosvk8JULQyxpR3EtcWkFmlHe6YmutF-liFPaZK1fghFKCCOK--4Jol-4qkEG0C1vbrjZaIGATI6BhmvCFDlAd3PNDq88QdF6hvs6u_7HeqwjIUac1GEMuYqWt0r7KIhvLXzeh-_-4O2MhDvmDFM_ydsO8VKE234j3ntTa7xxUgonpfTDeVjsyGt4">
            <div>We want education to be free and available to everyone, without boundaries to learning.</div>

            


        </div>

    </div>
</body>
</html>